<launch>

<node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find msckf_vio)/rviz/rviz_param.rviz" />

  <!-- Image Processor Nodelet  -->
   <include file="$(find msckf_vio)/launch/image_processor_100t14-160.launch"/>

   
   <include file="$(find msckf_vio)/launch/msckf_vio_100t14-160.launch"/>

   <include file="$(find msckf_vio)/launch/msckf_vio_100t14-160-1.launch"/>
   
   <include file="$(find msckf_vio)/launch/msckf_vio_100t14-160-2.launch"/>


</launch>
